body,html{

    background-color: white !important;
    z-index: 0;
    height: 100%;
}

body {
      /*
      //padding-top: 50px;*/
}

.wide {
      width:100%;
      height:100%;
      height:calc(50% - 1px);
      background-image:url("../images/index-header-cropped.jpg");
      background-size:cover;

}

.wide img {
      width:100%;
}

.logo {
    font-weight:bolder;
    font-size: 35px;
    color: white !important;
    text-align:center;
    text-shadow: 2px 2px black;
}

.logo-Index {
    font-weight:bolder;
    font-size: 35px;
    color: white !important;
    text-align:left;
	padding-left: 5%;

}

.logo-subtext {
    font-weight: lighter;
    font-size: 13px;
    color: white !important;
    text-align:center;
}

.logo-subtext-Index {
    font-weight: lighter;
    font-size: 18px;
    color: white !important;
    padding-left: 5%;
	text-align:left;
}


.line {
      padding-top:20px;
      white-space:no-wrap;
      overflow:hidden;
      text-align:center;
}

footer {
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 1100px;
  background-color: #0C1429;
  color: white;
}

#header{
   padding:10px;
   height:20px;
   position:fixed;
   width:100%;
}

.my-navbar{
    position: fixed !important;
    top: 0;
    position: absolute;
    width: 100%;
    /* Set the fixed height of the footer here */

}
.my-navbar-bg{
    background-color: #0C1429;
    height: 80px;
    width: 100%;
    position: absolute;
}

.my-navbar-img{
    padding-bottom: 10px;
    padding-left: 6%;
    padding-top: 5px;
    position: absolute;
    z-index: 1;

}

a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: white;
}

/* selected link */
a:active {
    color: white;
}

.my-navbar-text{
    z-index: 2;
    padding-right: 10%;
    position: relative;
    padding-top: 30px !important;
    z-index: 1;
    top: 0;
    float:right;
    color: #FFFFFF !important;
}



.index-title{

    background-color:#0C1429 !important;
    padding-bottom: 3px;
    display: block;
    font-size: 41px;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: lighter;
    padding-top: 0px;
    color: white;

}


.custom-h2{
    display: block;
    font-size: 41px;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: lighter;
    padding-top: 0px;
    color: black;
}

.main-div
{
    position: absolute;
           top: 5px;
           left: 0;
           bottom: 0;
           right: 0;
           width: 100%;
           height: 75%;
           margin: auto;
           background-color: white;
}

.put-in-center{
    position: absolute;
           top: 5px;
           left: 0;
           bottom: 0;
           right: 0;
           width: 100%;
           height: 75%;
           margin: auto;
}

.container{
    z-index: 0 !important;
}

.home_info{
    color: black;
    background-color: white;
    width: 100%;
    float: left;
}

.contact-button{
    color: #202E56 !important;
}

.info_section{
    border-radius: 1px;
    padding-top: 10%;
    width: 100%;
    background-color:#white !important;
    color:Black !important;

}

.info_section_title{

    font-size: 25px;
    font-weight:normal;
}

.info_section_title-Index {

    font-size: 25px;
    font-weight:normal;
	text-align:left;


}

.info_section_text{
	text-align: justify;
	line-height: 180%;
    padding-left: 1px;
    width: 100%;
    font-size: 15px;
    color: black !important;
}

.info_section_Pad {

	padding-right: 10%;
}

.info_section_button{
    padding-top: 10px;
    padding-left: 25%;
    padding-right: 50%;
    width: 75%;
    font-size: 13px;
    font-weight: lighter;
    color: gray !important;
}

.boxed {
  height: 100%;
  width: 85%;
  border: 1px solid #DDDDDD;
  padding-bottom: 5%;
  font-size: 21px;
}

hr {
    width: 40px;
    margin-left: 0%;
    border-color: LightGray;
}

hr-Index {
    width: 40px;
    margin-left: 0%;
  color: LightGray;
}

.hr-sm {
  width: 40px;
  margin-left: 13.5%;
  border-color: black;
}

.index-footer{
    background-color: #0C1429 !important;
    color: white;
    padding-top: 12.5px;
    height: 50px;
    width: 100%;
    font-size: 13px;
}


/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

/* Style the button used to pause/play the video */
#myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

#myBtn:hover {
    background: #ddd;
    color: black;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #2a7fe0;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 17px;
  padding: 7px;
  width: 80px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}


.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 15px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.button-RM {
  display: inline-block;
  border-radius: 4px;
  background-color: #2a7fe0;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 13px;
  padding: 7px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button-RM span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-RM span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}

.button-RM:hover span {
  padding-right: 15px;
}

.button-RM:hover span:after {
  opacity: 1;
  right: 0;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;

    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.roundone {
    align: right;
    /* margin-right: 5px; */
    /* padding-right: 5px; */
    height: 25px;
}
