body,html{

    background-color: white !important;
    z-index: 0;
    height: 100%;
}

body {

}

.wide {
      width:100%;
      height:100%;
      height:calc(50% - 1px);
      opacity: 0.7;
      background-image:url("../images/header-cropped.jpg");
      background-size:cover;
      /* color: #0C1429; */
}

.wide img {
      width:100%;
}

.logo {
    font-weight:bolder;
    font-size: 35px;
    color: white !important;
    text-align:center;
    text-shadow: 2px 2px black;
}
.logo-subtext {
    font-weight: lighter;
    font-size: 15px;
    color: white !important;
    text-align:center;
}

.line {
      padding-top:20px;
      white-space:no-wrap;
      overflow:hidden;
      text-align:center;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #0C1429;
  color: white;
}

#header{
   padding:10px;
   height:20px;
   position:fixed;
   width:100%;
}

.my-navbar{
    position: fixed !important;
    top: 0;
    position: absolute;
    width: 100%;
    /* Set the fixed height of the footer here */

}
.my-navbar-bg{
    background-color: #0C1429;
    height: 80px;
    width: 100%;
    position: absolute;
}

.my-navbar-img{
    padding-bottom: 10px;
    padding-left: 6%;
    padding-top: 5px;
    position: absolute;
    z-index: 1;

}

a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: white;
}

/* selected link */
a:active {
    color: white;
}

.my-navbar-text{
    z-index: 2;
    padding-right: 10%;
    position: relative;
    padding-top: 30px !important;
    z-index: 1;
    top: 0;
    float:right;
    color: #FFFFFF !important;
}



.index-title{

    background-color:#0C1429 !important;
    padding-bottom: 3px;
    display: block;
    font-size: 41px;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: lighter;
    padding-top: 0px;
    color: white;

}


.custom-h2{
    display: block;
    font-size: 41px;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: lighter;
    padding-top: 0px;
    color: black;
}



.main-div
{
    position: absolute;
           top: 5px;
           left: 0;
           bottom: 0;
           right: 0;
           width: 100%;
           height: 75%;
           margin: auto;
           background-color: white;
}

.put-in-center{
    position: absolute;
           top: 5px;
           left: 0;
           bottom: 0;
           right: 0;
           width: 50%;
           height: 75%;
           margin: auto;
}

.container{
    z-index: 0 !important;
}

.home_info{
    color: black;
    background-color: white;
    width: 100%;
    height: 1000px;

}

.contact-button{
    color: #202E56 !important;
}

.info_section{

    padding-top: 1%;
    width: 100%;
    background-color:#white !important;
    color:Black !important;

}
.info_section_2{

    padding-top: 2%;
    padding-left: 5%;
    width: 100%;
    background-color:#white !important;
    color:Black !important;

}
.info_section_title{
    padding-left: 3%;
    padding-bottom: 1%;
    padding-right: 1%;
    padding-top: 3%;
    text-align: left;
    font-weight: 200;
    font-size: 25px;
    color: black !important;
}
.info_section_text{
    padding-left: 5%;
    width: 100%;
    font-size: 15px;
    font-weight: lighter;
    color: gray !important;
    text-align: left;
}
.info_section_button{
    padding-top: 10px;
    padding-left: 25%;
    padding-right: 50%;
    width: 100%;
    font-size: 13px;
    font-weight: lighter;
    color: gray !important;
}


    .sub-header{
        align: center;
        width
    }

    .sub-header-title{
      font-weight: 200;
      font-size: 35px;
      color: black !important;
    }

    .sub-header-text{
        font-weight: lighter;
        font-size: 15px;
        color: gray !important;
        /* padding-left: 5%;
        padding-right: 5%; */
        align: center;
        max-width: 600px !important;
    }


.index-footer{
    background-color: #0C1429 !important;
    color: white;
    padding-top: 12.5px;
    height: 50px;
    width: 100%;
    font-size: 13px;
}

p {

    
    max-width: 600px;
}

.sweet-images{
    overflow: hidden;
}

hr {
    width: 40px;
    margin-left: 0%;
    border-color: black;
}

.boxed {
  height: 100%;
  width: 85%;
  border: 1px solid #DDDDDD;
  padding-bottom: 5%;
  font-size: 21px;
}
.container2 {
    position: relative;
    /* width: 20%; */
}

.image {
  opacity: 1;
  display: block;
  width: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container2:hover .image {
  opacity: 0.3;
}

.container2:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 15px;
  padding: 8px 16px;
}
.image2 {
  padding-top: 10%;

}
