@import 'vars';
@import 'mixins';

html, body {
  font: $base-font;
  box-sizing: border-box;
  background: $black;
  color: $white;

  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

h1 {
  font-size: 2em;
  line-height: 1.25em;
  font-weight: 400;
}

h2 {
  font-weight: 400;
  line-height: 1.25em;
  font-size: 1.5em;
}

h3 {
  font-weight: 400;
  line-height: 1.25em;
  font-size: 2.5em;
}

header {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: $blue;
  padding: 0 25%;

  img {
    height: 3em;
  }
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  color: $white;
  background: $black;
  padding: 1.5em 0;
  width: 100%;
  opacity: 0.5;
  @include ease(0.2s);

  &:hover {
    opacity: 1;
  }

  a, a:visited {
    color: $white;
    text-decoration: none;

    &:hover {
      color: rgba($white, 0.75);
    }
  }

  > div {
    padding: 0 2em;

    &:nth-child(n + 2) {
      border-left: 2px rgba($white, 0.25) solid;
    }
  }

  img {
    max-height: 1em;
  }
}

a.button {
  padding: 1em 2em;
  color: $black;
  border-radius: 2px;
  background: $white;
  text-decoration: none;
  margin-right: 2em;
  @include box-shadow(0.125em, 0, 1em, 0, rgba($black, 0.08));
  @include translate3d(0, 0, 0);
  @include ease(0.2s);

  display: inline-block;

  &:hover {
    @include box-shadow(0.225em, 0, 1.2em, 0, rgba($black, 0.08));
    @include translate3d(0, -0.1em, 0);
    background: $white2;

    &:active {
      @include ease(0.1s);
      @include translate3d(0, 0.1em, 0);
      background: $white2;
    }
  }
}

a.button2 {
  padding: 1em 6em;
  color: $black;
  border-radius: 2px;
  background: $white;
  text-decoration: none;
  margin-right: 2em;
  @include box-shadow(0.125em, 0, 1em, 0, rgba($black, 0.08));
  @include translate3d(0, 0, 0);
  @include ease(0.2s);

  display: inline-block;

  &:hover {
    @include box-shadow(0.225em, 0, 1.2em, 0, rgba($black, 0.08));
    @include translate3d(0, -0.1em, 0);
    background: $white2;

    &:active {
      @include ease(0.1s);
      @include translate3d(0, 0.1em, 0);
      background: $white2;
    }
  }
}

section.timeline {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top:3em;
  padding-bottom: 5em;

  li { transition: all 200ms ease-in; }

  .timestamp {
    width: auto;
    margin-top: 20px;
    padding: 0px 40px;
    display: flex;
    justify-content: center;
    border-top: 2px solid #D6DCE0;
    flex-direction: column;
    align-items: center;
    font-weight: 100;
    position: relative;
    transition: all 200ms ease-in;
  }
  .event {
    padding-top: 20px;
    font-weight: 600;
    &:before {
      content: '';
      height: 25px;
      border-left: 1px rgba($white, 0.25) solid;
      position: absolute;
      top: -15px;
      left: 50%;
      transition: all 200ms ease-in;
    }
  }
  .complete {
    .timestamp {
      border-top: 2px solid #66DC71;
      &:before {
        background-color: #66DC71;
        border: none;
        transition: all 200ms ease-in;
      }
    }
  }
  #circle {
    content: '';
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid #ddd;
    position: relative;
    top: -20px;
    left:-1250px;
  }
}

section.cta {
  background: $blue;
  padding: 4em 10%;
  h1 {
    margin: 0;
  }

  i a, i a:visited {
    color: $white;
  }
}

section.faq {
  background: $blue2;
  padding: 2em 10%;

  .column-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .questions-column {
    max-width: 32em;
    &:first-of-type {
      margin-right: 8em;
    }
    .question {
      margin-bottom: 2em;
      p {
        margin: 0;
        &:last-of-type { opacity: 0.75; }
        &:first-of-type { margin-bottom: 0.5em; }
      }
    }
  }

  a, a:visited {
    color: $white;
  }
}

section.value-prop {
  padding-bottom:3em;
  padding-top:3em;

  header {
    font-size: 48px;
    line-height: normal;
    padding-top:2.5em;
    padding-bottom:1.5em;
    padding-left: 3em;
    padding-right: 3em;
    background:$black;
    justify-content: center;
    text-align: left;
  }

  .left {
    height: 250px;
    width:48.5%;
    float:left;
    background: $blue;
    padding:2.5em;
    h2 {
      text-align: left;
    }
    p {
      font-size: 25px;
      line-height: normal;
      text-align: left;
    }
  }
  .right {
    height:250px;
    width: 48.5%;
    float:right;
    background: $blue;
    margin-bottom: auto;
    padding:2.5em;
    h2 {
      text-align: right;
    }
    p {
      font-size: 25px;
      line-height: normal;
      text-align: right;
    }
  }
  .space {
    margin:auto;
    margin-top: 75px;
    background: $white;
    height: 100px;
    width: 3%;
    position: absolute;
    left:48.5%;
    &:after {
      background: $white;
      content: '';
      height: 45%;
      left: -29px;
      position: absolute;
      top: 29px;
      width: 100%;
    }
    &:before {
      background: $white;
      content: '';
      height: 45%;
      right: -29px;
      position: absolute;
      top: 29px;
      width: 100%;
    }
  }
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*, ::before, ::after {
  box-sizing: inherit;
}

@media (max-width: 800px) {
  h1 { font-size: 1.5em; }
  h2 { font-size: 1.2em; }

  section.faq {
    .column-wrapper { flex-direction: column; }
    .questions-column:first-of-type { margin-right: 0; }
  }
}
