@import 'vars';

html, body {
  font: $base-font;
  box-sizing: border-box;
  background: $black;
  color: $white;

  min-height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1.5em solid $blue;
  height: calc(100vh - 2em);
}

header {
  h1 {
    font-size: 2em;
    line-height: 1.25em;
    font-weight: 400;
  }
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  color: $white;
  background: $blue;
  padding-top: 1.5em;
  width: 100%;

  a, a:visited {
    color: $white;
    text-decoration: none;

    &:hover {
      color: rgba($white, 0.75);
    }
  }

  > div {
    padding: 0 2em;

    &:nth-child(n + 2) {
      border-left: 2px rgba($white, 0.25) solid;
    }
  }

  img {
    max-height: 1em;
  }
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*, ::before, ::after {
  box-sizing: inherit;
}
