$black: #1B1C1E;
$blue:  #0086DB;
$blue2: #007BCE;
$white: #FFFFFF;
$white2: #F4F4F4;

@import url('https://fonts.googleapis.com/css?family=Lato');
$base-font-family: 'Lato', 'Open Sans', sans-serif;
$base-font: 16px/20px $base-font-family;
